<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>PrivEngV2X</title>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <h1>
        <a href="index.html"><i class="fas fa-code"></i><b> PrivEngV2X</b> </a>
      </h1>
      <ul>
        <li><a href="About.html">About</a></li>
        <li><a href="tutorial.html">Tutorial</a></li>
        <li><a href="live.html">Live Trajectory</a></li>
        <li><a href="input.html">Offline Mode</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
    <section>
      <div class="bright-overlay">
          <br><br><br><br>
          <p class= "about-title">Introduction</p>
          <p class = "about-description">
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus dolor eget nunc pharetra auctor. Fusce tempus
            felis sagittis, ultrices purus sit amet, sodales libero. Ut scelerisque malesuada leo sed tempor. Curabitur commodo et
            nulla eu auctor. Donec sed eros nisi. Morbi eleifend rhoncus elit a varius. Aenean id est commodo, tincidunt nisl eget,
            commodo sapien. 
            <!-- <ul>
            <li>In laoreet sem eu libero sollicitudin posuere. Nullam pulvinar ac augue id bibendum. </li>
            <li>Sed hendrerit, lectus
               a tempor semper, urna tellus malesuada nibh, quis finibus augue tellus eget enim. </li>
            <li>Nam tincidunt leo ac dolor scelerisque, non facilisis lacus sagittis. </li>
            </ul> -->
            In cursus ex aliquam, porttitor arcu a, egestas diam. Morbi faucibus cursus
            est, vitae mollis mi pulvinar eu. Suspendisse maximus molestie erat. Aliquam aliquet ipsum vitae leo interdum, sit amet
            sollicitudin massa rhoncus. Mauris ut sem at nisl imperdiet congue ac quis quam.
            <br> <br>

            <img src="https://cdn3.vectorstock.com/i/1000x1000/63/02/route-dashboard-futuristic-route-ui-gps-tracking-vector-27126302.jpg" alt="map" id="map">
            <br>
            Morbi et aliquet metus, vel ultricies dui. Mauris turpis nulla, commodo quis nisi in, aliquet tristique augue. Ut
            suscipit, purus et scelerisque finibus, est ipsum bibendum nibh, et pharetra dui felis at odio. Sed sit amet elementum
            velit. Nam consectetur ante lacu7s, sed sagittis tellus aliquam vel. Vivamus elementum velit sit amet porttitor auctor.
            Vivamus ac augue vitae lectus auctor blandit. Morbi tristique odio nec arcu pharetra, sit amet malesuada lectus mattis.
            Sed volutpat erat sed magna efficitur ultricies. Etiam felis ante, vulputate pulvinar urna in, dignissim fringilla
            nulla. Duis suscipit odio sed ante rhoncus eleifend. In efficitur est eget ipsum aliquam, elementum pulvinar nisl
            sollicitudin. Phasellus facilisis felis metus, sit amet lobortis purus aliquam eget. Mauris fermentum laoreet nunc vel
            rutrum.
      
            
            Aenean sed ultrices nulla, non lacinia metus. Curabitur tincidunt sodales hendrerit. Fusce hendrerit dictum orci sed
            sodales.te Curabitur ut hendrerit nulla, ut fermentum est. Donec eu vestibulum tellus. Praesent vehicula libero ac nibh
            gravida, aliquam auctor mauris varius. Nulla luctus efficitur sapien, in ultricies metus accumsan quis. Integer
            convallis ligula felis, id tempor erat faucibus eget. Sed vitae eleifend massa, eget lacinia leo.
            <br><br>
          </img>
      </div>
    </section>
  </body>
  
  </html>