<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map rendering</title>
  </head>
  <body>
    <br />
    <br />
    <div style="display: flex; flex-direction: row">
      Please input your raw data here:
      <input type="file" name="raw-data" id="raw-data" />
    </div>
    <br /><br />
    <div style="display: flex; flex-direction: row">
      Please input your sanitized data here:
      <input type="file" name="sanitized-data" id="sanitized-data" />
    </div>
    <br />
    <button>Submit</button>
  </body>
</html>
